<?xml version="1.0"?>
<!-- 
		Note: As an alternative to hand editing this file you can use the 
		web admin tool to configure settings for your application. Use
		the Website->Asp.Net Configuration option in Visual Studio.
		A full list of settings and comments can be found in 
		machine.config.comments usually located in 
		\Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<configSections>
		<sectionGroup name="remotion.data.domainObjects" type="Remotion.Data.DomainObjects.Configuration.DomainObjectsConfiguration, Remotion.Data.DomainObjects, Version=1.13.101.2, Culture=neutral,   
			PublicKeyToken=fee00910d6e5f53b">
			<section name="storage" type="Remotion.Data.DomainObjects.Persistence.Configuration.StorageConfiguration, Remotion.Data.DomainObjects, Version=1.13.101.2, Culture=neutral,   
			PublicKeyToken=fee00910d6e5f53b" />
		</sectionGroup>
		<section name="remotion.web" type="Remotion.Web.Configuration.WebConfiguration, Remotion.Web, Version=1.13.101.2, Culture=neutral,   
			PublicKeyToken=fee00910d6e5f53b" />
	</configSections>

	<remotion.data.domainObjects xmlns="http://www.re-motion.org/Data/DomainObjects/Configuration/2.0">
		<storage defaultProviderDefinition="PhoneBookDB">
			<providerDefinitions>
				<add name="PhoneBookDB"
					type="Remotion.Data.DomainObjects.Persistence.Rdbms.RdbmsProviderDefinition, Remotion.Data.DomainObjects, Version=1.13.101.2, Culture=neutral,   
			PublicKeyToken=fee00910d6e5f53b"
					providerType="Remotion.Data.DomainObjects.Persistence.Rdbms.SqlProvider, Remotion.Data.DomainObjects, Version=1.13.101.2, Culture=neutral,   
			PublicKeyToken=fee00910d6e5f53b"
					factoryType="Remotion.Data.DomainObjects::Persistence.Rdbms.SqlServer.Sql2005.SqlStorageObjectFactory"
					connectionString="PhoneBook" />
			</providerDefinitions>
		</storage>
	</remotion.data.domainObjects>

	<connectionStrings>
		<add name="PhoneBook" connectionString="Integrated Security=SSPI; Initial Catalog=PhoneBook; Data Source=localhost" />
	</connectionStrings>

	<remotion.web xmlns="http://www.re-motion.org/web/configuration">
		<executionEngine
				defaultWxeHandler="WxeHandler.ashx"
				urlMappingFile="~/UrlMapping.xml" />
	</remotion.web>

	<system.web>
		<globalization requestEncoding="iso-8859-1" responseEncoding="iso-8859-1" culture="en-US" uiCulture="en-US" />
		<pages>
			<controls>
				<add tagPrefix="remotion" namespace="Remotion.Web.UI.Controls" assembly="Remotion.Web, Version=1.13.101.2, Culture=neutral,   
			PublicKeyToken=fee00910d6e5f53b" />
				<add tagPrefix="remotion" namespace="Remotion.ObjectBinding.Web.UI.Controls" assembly="Remotion.ObjectBinding.Web, Version=1.13.101.2, Culture=neutral,   
			PublicKeyToken=fee00910d6e5f53b" />
			</controls>
		</pages>
		<httpHandlers>
			<add verb="*" path="*.wxe" type="Remotion.Web.ExecutionEngine.WxeHandler, Remotion.Web, Version=1.13.101.2, Culture=neutral,   
			PublicKeyToken=fee00910d6e5f53b" />
		</httpHandlers>

		<!--
		Set compilation debug="true" to insert debugging 
		symbols into the compiled page. Because this 
		affects performance, set this value to true only 
		during development.
		-->
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="Remotion, Version=1.13.101.2, Culture=neutral,   
			PublicKeyToken=fee00910d6e5f53b" />
				<add assembly="Remotion.Interfaces, Version=1.13.101.2, Culture=neutral,   
			PublicKeyToken=fee00910d6e5f53b" />
				<add assembly="Remotion.Data.DomainObjects, Version=1.13.101.2, Culture=neutral,   
			PublicKeyToken=fee00910d6e5f53b" />
				<add assembly="Remotion.ObjectBinding, Version=1.13.101.2, Culture=neutral,   
			PublicKeyToken=fee00910d6e5f53b" />
				<add assembly="Remotion.ObjectBinding.Interfaces, Version=1.13.101.2, Culture=neutral,   
			PublicKeyToken=fee00910d6e5f53b" />
				<add assembly="Remotion.Data.Interfaces, Version=1.13.101.2, Culture=neutral,   
			PublicKeyToken=fee00910d6e5f53b" />
				<add assembly="Remotion.ObjectBinding.Web, Version=1.13.101.2, Culture=neutral,   
			PublicKeyToken=fee00910d6e5f53b" />
				<add assembly="Remotion.Web, Version=1.13.101.2, Culture=neutral,   
			PublicKeyToken=fee00910d6e5f53b" />
			</assemblies>
		</compilation>

		<!--
		The <authentication> section enables configuration 
		of the security authentication mode used by 
		ASP.NET to identify an incoming user. 
		-->
		<authentication mode="Windows"/>

		<!--
		The <customErrors> section enables configuration 
		of what to do if/when an unhandled error occurs 
		during the execution of a request. Specifically, 
		it enables developers to configure html error pages 
		to be displayed in place of a error stack trace.

		<customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
		<error statusCode="403" redirect="NoAccess.htm" />
		<error statusCode="404" redirect="FileNotFound.htm" />
		</customErrors>
		-->
	</system.web>
</configuration>
